In [121]:
import pandas as pd
import numpy as np
#at starting we put header to None and we will not show the nan at null values
df=pd.read_excel("report.xlsx",header=None,keep_default_na=False)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Americas Best Value Inn,,,,,,,,,,...,,,,,,,,,,
1,"1266 Hebron Road , Heath, Ohio, 43056, USA",,,,,,,,,,...,,,,,,,,,,
2,Phone: 740-522-6112; Fax: 740-522-3089,,,,,,,,,,...,,,,,,,,,,
3,E-mail: kathy@innvitehospitality.com; Website:...,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,,,,,,,,,,,...,,,,,,,,,,
82,Printed By :,,,AYOUNG,,,,,,,...,,,,,,,,,,
83,Printed Date :,,,4/4/2023,,3:32 AM,,,,,...,,,,,,,,,,
84,,,,,,,,,,,...,,,,,,,,,,
85,Developed by Anand Systems Inc. (www.AnandSyst...,,,,,,,,,,...,,,,,,,,,,Page 2 of 2

In [122]:
# Removing the address which is the at top 4 lines
df.drop(df.head(5).index,inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
5,Ledger Summary For 4/3/2023,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,Guest Ledger Summary,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,InHouse Account Summary:,,,,,,,,,,...,,,,-1343.1289,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,,,,,,,,,,,...,,,,,,,,,,
82,Printed By :,,,AYOUNG,,,,,,,...,,,,,,,,,,
83,Printed Date :,,,4/4/2023,,3:32 AM,,,,,...,,,,,,,,,,
84,,,,,,,,,,,...,,,,,,,,,,
85,Developed by Anand Systems Inc. (www.AnandSyst...,,,,,,,,,,...,,,,,,,,,,Page 2 of 2

In [123]:
df.drop(df.tail(7).index,inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
5,Ledger Summary For 4/3/2023,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,Guest Ledger Summary,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,InHouse Account Summary:,,,,,,,,,,...,,,,-1343.1289,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,,(GL: 444.48) Cash,,,,,,,,,...,,,-444.48,,,,,,,
75,,,,,,,,,,,...,,,,,,,,,,
76,,(GL: 894.68 | AD: 0.00) Card,,,,,,,,,...,,,-894.68,,,,,-1339.16,,
77,,,,,,,,,,,...,,,,,,,,,,
78,,,,,,,,,,,...,,,,,,,652.86,,,

In [124]:
#placing the " " with the NaN to work on it
df.replace("",np.nan,inplace=True)
print(df.shape)
df

(74, 23)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
5,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1343.1289,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-444.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-894.68,NaN,NaN,NaN,NaN,-1339.16,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,652.86,NaN,NaN,NaN

In [125]:
#Remove the empty columns and rows
df.dropna(how="all",axis=1,inplace=True)
df.dropna(how="all",axis=0,inplace=True)
print(df.shape)
df

(40, 11)

,0,1,4,6,9,10,14,15,16,19,20
5,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
11,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
13,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
16,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
20,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
22,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
25,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
29,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
32,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
36,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
38,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
40,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
43,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
47,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
50,Audit Detail As Of,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,NaN,Difference
53,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
54,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.1800,NaN,8005.5700,NaN,NaN,467.39
55,NaN,Advance Deposit,NaN,NaN,NaN,-588.8400,NaN,-588.8400,NaN,NaN,0
56,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0000,NaN,0.0000,NaN,NaN,0
57,NaN,Group Payment,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,0
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793,NaN
61,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,Total
64,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN,NaN
67,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
69,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
71,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
72,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN,NaN
76,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.6800,NaN,NaN,-1339.16
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.860,NaN

In [126]:
#resetiing the index
df.reset_index(inplace=True,drop=True)
df.columns=np.arange(1,len(df.columns)+1)
df

,1,2,3,4,5,6,7,8,9,10,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
4,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
8,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
11,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
16,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
19,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
20,Audit Detail As Of,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.1800,NaN,8005.5700,NaN,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,NaN,-588.8400,NaN,-588.8400,NaN,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0000,NaN,0.0000,NaN,NaN,0
27,NaN,Group Payment,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793,NaN
29,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.6800,NaN,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.860,NaN

In [127]:
df.at[39,11]=df.loc[39,10]
df.at[39,10]=np.nan
df.at[28,11]=df.loc[28,10]
df.at[28,10]=np.nan

In [128]:
df

,1,2,3,4,5,6,7,8,9,10,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
4,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
8,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
11,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
16,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
19,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
20,Audit Detail As Of,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.1800,NaN,8005.5700,NaN,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,NaN,-588.8400,NaN,-588.8400,NaN,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0000,NaN,0.0000,NaN,NaN,0
27,NaN,Group Payment,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
29,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.6800,NaN,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [129]:
df.at[29,7]=df.loc[30,7]
df.at[30,7]=np.nan
df.at[22,2]=df.loc[21,2]
df.at[21,2]=np.nan
df.at[20,1]=str(df.loc[20,1])+str(df.loc[20,3])
df.at[20,3]=np.nan

In [130]:
df.at[22,6]=df.loc[22,5]
df.loc[22,5]=np.nan
df.at[22,8]=df.loc[22,7]
df.loc[22,7]=np.nan

In [131]:
df

,1,2,3,4,5,6,7,8,9,10,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
4,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
8,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
11,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
16,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
19,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
20,"Audit Detail As OfApr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Ledger Summary,NaN,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.18,NaN,8005.57,NaN,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,NaN,-588.84,NaN,-588.84,NaN,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0
27,NaN,Group Payment,NaN,NaN,NaN,0.0,NaN,NaN,0.0000,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
29,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.74,NaN,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.48,NaN,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.68,NaN,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [132]:
df.at[31,1]=str(df.loc[31,1])+str(df.loc[29,7])
df.at[31,8]=df.loc[30,11]
df.at[30,11]=np.nan

In [141]:
#Remove the empty columns and rows
df.dropna(how="all",axis=1,inplace=True)
df.dropna(how="all",axis=0,inplace=True)
print(df.shape)
#resetiing the index
df.reset_index(inplace=True,drop=True)
df.columns=np.arange(1,len(df.columns)+1)
df

(38, 7)

,1,2,3,4,5,6,7
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,-1343.1289,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
4,NaN,NaN,Closing Balance:,NaN,NaN,-1343.1289,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,8005.5700,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
8,NaN,NaN,Closing Balance:,NaN,NaN,8005.5700,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,-588.8400,NaN
11,NaN,NaN,Closing Balance:,NaN,NaN,-588.8400,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
16,NaN,NaN,Closing Balance:,NaN,NaN,0.0000,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,0.0000,NaN
19,NaN,NaN,Closing Balance:,NaN,NaN,0.0000,NaN
20,"Audit Detail As OfApr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ledger Summary,NaN,"Apr 02, 2023","Apr 03, 2023",NaN,Difference
22,NaN,Guest Ledger,NaN,-1528.5319,-1343.1289,NaN,185.4
23,NaN,Account Receivable Ledger,NaN,7538.18,8005.57,NaN,467.39
24,NaN,Advance Deposit,NaN,-588.84,-588.84,NaN,0
25,NaN,Inhouse Deposit,NaN,0.0,0.0,NaN,0
26,NaN,Group Payment,NaN,0.0,NaN,0.0000,0
27,NaN,NaN,NaN,NaN,NaN,NaN,652.793
28,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,NaN
29,"Today Revenue As OfApr 03, 2023",NaN,NaN,NaN,Total,NaN,NaN
30,NaN,Rent,NaN,NaN,1783.74,NaN,NaN
31,NaN,State Sales Tax,NaN,NaN,98.1793,NaN,NaN
32,NaN,City Tax,NaN,NaN,55.0541,NaN,NaN
33,NaN,County Tax,NaN,NaN,55.0541,NaN,1992.02
34,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,(GL: 444.48) Cash,NaN,NaN,-444.48,NaN,NaN
36,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,-894.68,NaN,-1339.16
37,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [142]:
df.to_csv("report.csv")

In [140]:
df.at[28,5]=np.nan