In [58]:
import pandas as pd
import numpy as np
#at starting we put header to None and we will not show the nan at null values
df=pd.read_excel("report.xlsx",header=None,keep_default_na=False)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Americas Best Value Inn,,,,,,,,,,...,,,,,,,,,,
1,"1266 Hebron Road , Heath, Ohio, 43056, USA",,,,,,,,,,...,,,,,,,,,,
2,Phone: 740-522-6112; Fax: 740-522-3089,,,,,,,,,,...,,,,,,,,,,
3,E-mail: kathy@innvitehospitality.com; Website:...,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,,,,,,,,,,,...,,,,,,,,,,
82,Printed By :,,,AYOUNG,,,,,,,...,,,,,,,,,,
83,Printed Date :,,,4/4/2023,,3:32 AM,,,,,...,,,,,,,,,,
84,,,,,,,,,,,...,,,,,,,,,,
85,Developed by Anand Systems Inc. (www.AnandSyst...,,,,,,,,,,...,,,,,,,,,,Page 2 of 2

In [59]:
# Removing the address which is the at top 4 lines
df.drop(df.head(5).index,inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
5,Ledger Summary For 4/3/2023,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,Guest Ledger Summary,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,InHouse Account Summary:,,,,,,,,,,...,,,,-1343.1289,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,,,,,,,,,,,...,,,,,,,,,,
82,Printed By :,,,AYOUNG,,,,,,,...,,,,,,,,,,
83,Printed Date :,,,4/4/2023,,3:32 AM,,,,,...,,,,,,,,,,
84,,,,,,,,,,,...,,,,,,,,,,
85,Developed by Anand Systems Inc. (www.AnandSyst...,,,,,,,,,,...,,,,,,,,,,Page 2 of 2

In [60]:
df.drop(df.tail(7).index,inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
5,Ledger Summary For 4/3/2023,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,Guest Ledger Summary,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,InHouse Account Summary:,,,,,,,,,,...,,,,-1343.1289,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,,(GL: 444.48) Cash,,,,,,,,,...,,,-444.48,,,,,,,
75,,,,,,,,,,,...,,,,,,,,,,
76,,(GL: 894.68 | AD: 0.00) Card,,,,,,,,,...,,,-894.68,,,,,-1339.16,,
77,,,,,,,,,,,...,,,,,,,,,,
78,,,,,,,,,,,...,,,,,,,652.86,,,

In [71]:
#placing the " " with the NaN to work on it
df.replace("",np.nan,inplace=True)
print(df.shape)
df

(39, 9)

,1,2,4,5,6,7,8,9,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
4,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
8,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN
11,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
16,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
19,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
20,Audit Detail As Of,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Ledger Summary,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,7538.1800,NaN,8005.5700,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,-588.8400,NaN,-588.8400,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,0.0000,NaN,0.0000,NaN,0
27,NaN,Group Payment,NaN,NaN,0.0000,NaN,NaN,0.0000,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
29,NaN,Revenue & Collection,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,98.1793,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,55.0541,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,55.0541,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,-894.6800,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [72]:
#Remove the empty columns and rows
df.dropna(how="all",axis=1,inplace=True)
df.dropna(how="all",axis=0,inplace=True)
print(df.shape)
df

(39, 9)

,1,2,4,5,6,7,8,9,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
4,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
8,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN
11,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
16,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
19,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
20,Audit Detail As Of,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Ledger Summary,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,7538.1800,NaN,8005.5700,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,-588.8400,NaN,-588.8400,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,0.0000,NaN,0.0000,NaN,0
27,NaN,Group Payment,NaN,NaN,0.0000,NaN,NaN,0.0000,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
29,NaN,Revenue & Collection,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,98.1793,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,55.0541,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,55.0541,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,-894.6800,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [63]:
#resetiing the index
df.reset_index(inplace=True,drop=True)
df.columns=np.arange(1,len(df.columns)+1)
df

,1,2,3,4,5,6,7,8,9,10,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
4,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
8,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
11,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
16,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
19,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
20,Audit Detail As Of,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.1800,NaN,8005.5700,NaN,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,NaN,-588.8400,NaN,-588.8400,NaN,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0000,NaN,0.0000,NaN,NaN,0
27,NaN,Group Payment,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793,NaN
29,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.6800,NaN,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.860,NaN

In [64]:
df.at[39,11]=df.loc[39,10]
df.at[39,10]=np.nan
df.at[28,11]=df.loc[28,10]
df.at[28,10]=np.nan

In [65]:
df.at[29,7]=df.loc[30,7]
df.at[30,7]=np.nan
df.at[22,2]=df.loc[21,2]
df.at[21,2]=np.nan
df.at[20,2]=df.loc[20,3]
df.at[20,3]=np.nan

In [66]:
df

,1,2,3,4,5,6,7,8,9,10,11
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
4,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
8,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
11,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
16,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
19,NaN,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN,NaN
20,Audit Detail As Of,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Ledger Summary,NaN,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,NaN,Difference
23,NaN,Guest Ledger,NaN,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,NaN,185.4
24,NaN,Account Receivable Ledger,NaN,NaN,NaN,7538.1800,NaN,8005.5700,NaN,NaN,467.39
25,NaN,Advance Deposit,NaN,NaN,NaN,-588.8400,NaN,-588.8400,NaN,NaN,0
26,NaN,Inhouse Deposit,NaN,NaN,NaN,0.0000,NaN,0.0000,NaN,NaN,0
27,NaN,Group Payment,NaN,NaN,NaN,0.0000,NaN,NaN,0.0000,NaN,0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
29,NaN,Revenue & Collection,NaN,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
31,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Rent,NaN,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN,NaN
33,NaN,State Sales Tax,NaN,NaN,NaN,NaN,NaN,98.1793,NaN,NaN,NaN
34,NaN,City Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,NaN
35,NaN,County Tax,NaN,NaN,NaN,NaN,NaN,55.0541,NaN,NaN,1992.02
36,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN,NaN
38,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,NaN,-894.6800,NaN,NaN,-1339.16
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [73]:
#Remove the empty columns and rows
df.dropna(how="all",axis=1,inplace=True)
df.dropna(how="all",axis=0,inplace=True)
print(df.shape)
#resetiing the index
df.reset_index(inplace=True,drop=True)
df.columns=np.arange(1,len(df.columns)+1)
df

(39, 9)

,1,2,3,4,5,6,7,8,9
0,Ledger Summary For 4/3/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Guest Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,InHouse Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-1343.1289,NaN
3,CheckedOut Account Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
4,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-1343.1289,NaN
5,Account Receivable Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Active Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,8005.5700,NaN
7,InActive Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
8,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,8005.5700,NaN
9,Advance Deposit Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Reserved Guest Accounts Summary:,NaN,NaN,NaN,NaN,NaN,NaN,-588.8400,NaN
11,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,-588.8400,NaN
12,Deposit Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,InHouse Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
14,CheckedOut Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
15,Reserved Deposit Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
16,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
17,Group Ledger Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Unallocate Group Payment Summary:,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
19,NaN,NaN,Closing Balance:,NaN,NaN,NaN,NaN,0.0000,NaN
20,Audit Detail As Of,"Apr 03, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Ledger Summary,NaN,"Apr 02, 2023",NaN,"Apr 03, 2023",NaN,NaN,Difference
22,NaN,Guest Ledger,NaN,NaN,-1528.5319,NaN,-1343.1289,NaN,185.4
23,NaN,Account Receivable Ledger,NaN,NaN,7538.1800,NaN,8005.5700,NaN,467.39
24,NaN,Advance Deposit,NaN,NaN,-588.8400,NaN,-588.8400,NaN,0
25,NaN,Inhouse Deposit,NaN,NaN,0.0000,NaN,0.0000,NaN,0
26,NaN,Group Payment,NaN,NaN,0.0000,NaN,NaN,0.0000,0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.793
28,NaN,Revenue & Collection,NaN,NaN,NaN,"Apr 03, 2023",NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
30,Today Revenue As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Rent,NaN,NaN,NaN,NaN,1783.7400,NaN,NaN
32,NaN,State Sales Tax,NaN,NaN,NaN,NaN,98.1793,NaN,NaN
33,NaN,City Tax,NaN,NaN,NaN,NaN,55.0541,NaN,NaN
34,NaN,County Tax,NaN,NaN,NaN,NaN,55.0541,NaN,1992.02
35,Today Collection As Of,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,(GL: 444.48) Cash,NaN,NaN,NaN,NaN,-444.4800,NaN,NaN
37,NaN,(GL: 894.68 | AD: 0.00) Card,NaN,NaN,NaN,NaN,-894.6800,NaN,-1339.16
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652.86

In [74]:
df.to_csv("report.csv")